security:
  whitelist:
    - /h2-console/**
    - /api/v1/auth/signup
    - /api/v1/auth/login

---

spring:
  # 프로필 설정
  config:
    activate:
      on-profile: local

  # DB 설정
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/review_queue
    username: review_queue
    password: Zxcv1234!

  # JPA 설정
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        jdbc:
          batch_size: 1000
    show-sql: false

  # Redis 설정
  data:
    redis:
      host: localhost
      port: 6379

jwt:
  secret-key: NiOeyFbN1Gqo10bPgUyTFsRMkJpGLXSvGP04eFqj5B30r5TcrtlSXfQ7TndvYjNvfkEKLqILn0j1SmKODO6Yw3JpBBgI6nVPEbhqxeY1qbPSFGyzyEVxnl4bQcrnVneI
  access-expiration: 86400
  refresh-expiration: 86400 # 1일
  issuer: jonghun


# SQL 로그 설정
logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type.descriptor.sql: trace
    org.hibernate.orm.jdbc.bind: trace
